@model CarRentalSystem.DAL.Models.Car.Car

@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>

<div>
    <h4>Car</h4>
    <hr />

    @*
    *@
    <script>

        jQuery(document).ready(function ($) {

            $('.carousel').carousel(
                {
                }
                );
        });

    </script>
    <div class="carousel" style="height:700px;">
        @for (int i = 0; i < Model.Pictures.Count; i++)
        {
            <a class="carousel-item" style="width:70%; height:700px;"><img style="height:700px;" src=@Model.Pictures.ToList()[i].Path /></a>
        }
    </div>
    <div class="row">
        <div class="col-s9">
            <table cellspacing="3" cellpadding="1">
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Mark)

                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Mark.MarkType)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Body)

                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Body)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Fuel)

                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Fuel)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Mileage)

                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Mileage)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Transmission)

                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Transmission)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Model)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Volume)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Volume)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Price)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Description)
                    </td>
                </tr>

            </table>

        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
